{% extends "planner/layout.html" %}
{% load static %}

{% block body %}

<div class="container mt-5">
    <h3>From aws codeFamily</h3>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h3 class="mb-0 text-light">Book Your Trip</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'saveTrip' %}" method="post" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.media }}
                            {{ form }}
                        </div>
                        <button type="submit" class="btn btn-secondary" id="submit-trip">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    function initAutocomplete() {
        const input = document.getElementById('cityInput');
        const autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initAutocomplete&libraries=places&v=weekly" defer></script>
{% endblock %}
