{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <script src="https://kit.fontawesome.com/b3593cc404.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- swiper js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fm5Uy4wQF/1/WC0CgugC5Y0Xac2jx/J9m4GRJ2bywqI3IA/IHP4X+uAlEGp7hxIm+PjbGqcz1j3oyw/A6Q+4Zg==" crossorigin="anonymous" />-->
    <link href="{% static 'planner/styles.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
            integrity="sha384-DfZ2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <script src="{% url 'js-catlog' %}"></script><!-- admin date picker starts here-->
    <script src="{% static '/admin/js/core.js' %}"></script>
    <!--<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">-->
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}"><!-- admin date picker ends here-->
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
            <!-- Brand on the left -->
            <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">Travel Planner</a>
            
            <!-- Navbar Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" 
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mx-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'userProfile' user.username %}">
                                {% if user.photo %}
                                    <img src="{{ user.photo.url }}" alt="Profile" class="rounded-circle" style="width:30px; height:30px;">
                                {% else %}
                                    <i class="fas fa-user-circle fa-lg"></i>
                                {% endif %}
                                <span class="ml-2 font-weight-bold">{{ user.username }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'createPost' %}">Create Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'blogs' %}">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center text-danger" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <!-- Search Form on the Right -->
                <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search' %}">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" name="city" placeholder="Search cities" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    
    <div class="container my-4">
        {% block body %}
        {% endblock %}
    </div>
</body>
<!--<script>
   function initAutocomplete() {
     const input = document.getElementById('city');
     const autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initAutocomplete&libraries=places&v=weekly"defer></script>-->
</html>
